@font-face {
  font-family: 'Ubuntu Regular'; 
  src:url('assets/fonts/Ubuntu-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Medium'; 
  src:url('assets/fonts/Ubuntu-Medium.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Bold'; 
  src:url('assets/fonts/Ubuntu-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --blue-950: hsl(213, 96%, 18%);
  --purple-600: hsl(243, 100%, 62%);
  --blue-300: hsl(228, 100%, 84%);
  --blue-200: hsl(206, 94%, 87%);
  --red-500: hsl(354, 84%, 57%);

  --grey-500: hsl(231, 11%, 63%);
  --purple-200: hsl(229, 24%, 87%);
  --blue-100: hsl(218, 100%, 97%);
  --blue-50: hsl(231, 100%, 99%);
  --white:  hsl(0, 100%, 100%);
}


body {
    font-size: 16px;
    color:var(--grey-500);
    font-family: 'Ubuntu Regular';
    background-color: var(--blue-100);
    
}

#main {
    background-color: var(--white);
    width: 90%;
    height:50%;
    margin:auto;
    border-radius:10px;
    padding:1rem;

    

}

h1, h2 {
    color: var(--blue-950);
    font-family:'Ubuntu Bold';
}
label {
    color: var(--blue-950);
}

#navigation {
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    background-position:center;
    min-height:80vh;
    height:100%;
    border-radius:15px;
    text-transform: uppercase;
    color:var(--white);
}

@media (max-width: 767.98px) {
    #navigation{
        background-image: url(assets/images/bg-sidebar-mobile.svg);
  
    }
    
}


.btn-primary{
    background-color:var(--blue-950);
    color:var(--white);
    border:none;
}

input {
    margin-bottom:2rem;
    
}


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.list-circles {
    counter-reset: li; 
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-circles li {
    position: relative;
    padding-left: 3.5em;
    margin: 1em 0;
}

.list-circles li::before {
    counter-increment: li; 
    content: counter(li); 
    position: absolute;
    left: 0;
    top: 0;
    width: 2em;
    height: 2em;
    background-color: transparent;
    border: 1px solid var(--blue-100);
    color: var(--blue-100);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-circles li.active::before {
    background-color:var(--blue-100);
    color: var(--blue-950);

}
